li
{display:inline;}

@media screen and (min-width: 768px) {
	img.center
	{  
		 display: block;  
		 margin-left: auto;   
		 margin-right: auto; 
	}
}

.photo-group
{
	width: 45%;
	padding: 1em;
	display: table-cell;
}

.photo-group h3
{
	font-size: 0.8em;
	margin: 10px 0px;
}

#img-list
{
	padding: 0;
}

#img-list li
{
	display: table-cell;
	padding: 0.5em;
	opacity:0.4;
	cursor: pointer;
}

#img-list li.active
{
	opacity:1;
}

.news
{
	border-bottom-style: solid;
	border-bottom-color: #000000;
}

#slide-control
{
	float: right;
	background-color: grey;
	min-width: 60px;
}

#slide-control .ui-icon
{
	float: right;
	display: inline-block;
	margin: -0.1em;
	cursor: pointer;
}
